<div class="container">
    <div class="col-md-12" style="text-align:center;">
        <h1>Change Product Info</h1>
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align:center;">
            <div ng-show="message" class="alert alert-danger">
                {{cbMessage}}
            </div>
        </div>
        <form class="form" ng-submit="addProduct()">
            <div class="form-group">
                <label>Name of the Product</label>
                <!--<input type="text" class="form-control" name="name" ng-model="productForm.name" ng-value="name" />-->
                <input class="form-control" value="{{name}}" ng-model="productForm.name" ng-initial />
            </div>
            <div class="form-group">
                <label>Product price</label>
                <!--<input type="text" class="form-control" name="price" ng-model="productForm.price" ng-value="price"/> -->
                <input class="form-control" value="{{price}}" ng-model="productForm.price" ng-initial />
            </div>
            <div class="form-group">
                <label>Additional information</label>
                <!--<input type="text" class="form-control" name="information" ng-model="productForm.information" ng-value="information"/>-->
                <input class="form-control" value="{{information}}" ng-model="productForm.information" ng-initial />
            </div>
            <div class="form-group">
                <label>Quantity</label>
                <!--<input type="text" class="form-control" name="information" ng-model="productForm.information" ng-value="information"/>-->
                <input class="form-control" value="{{quant}}" ng-model="productForm.quantity" ng-initial />
            </div>
            <div class="form-group">
                <label>Currency</label>
                <!--<input type="text" class="form-control" name="information" ng-model="productForm.information" ng-value="information"/>-->
                <input class="form-control" value="{{currency}}" ng-model="productForm.currency" ng-initial />
            </div>
            <div>
                <button type="submit" class="btn btn-default" ng-click="saveProduct()">Change Product</button>
            </div>
        </form>
    </div>
</div>
