<meta name="keywords" content="{{keywords}}">

<div class="landing--banner">
    <scroll-nav>
        <nav ng-show="scrollBar" class="navbar-landing navbar-fixed-top proovime" ng-controller="navBarCtrl">
            <ul class="hidden-lg hidden-md mobile-icons">
                <li><img id="search" src="img/search.png" ng-click="openSearch()" /></a></li>
                <li><a ng-click="toggleSideMenu()"><span class="item-number">{{itemsInBag}}</span><img id="shopping-bag" src="img/shopping-bag.png"  /></a></li>
            </ul>
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#"><img id="landingLogoScroll" src="img/logo.png"/></a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                <li><a scroll-to-bookmark="products">Products</a></li>
                <li><a scroll-to-bookmark="contact">Contacts</a></li>
                <li><a  ng-click="openSearch()"><img id="search" src="img/search.png"/>Type anywhere to search</a></li>
                <li><a ng-click="toggleSideMenu()"><span class="item-number">{{itemsInBag}}</span><img id="shopping-bag" src="img/shopping-bag.png"  />Shopping bag</a></li>
              </ul>
            </div>
          </div>
        </nav>
    </scroll-nav>

    <nav class="navbar" ng-controller="navBarCtrl">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img id="landingLogo" src="img/logo.png"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse hidden-sm hidden-xs">
          <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
            <li><a style="cursor:pointer" scroll-to-bookmark="products">Products</a></li>
            <li><a style="cursor:pointer" scroll-to-bookmark="contact">Contact</a></li>
            <li><a ng-click="openSearch()" style="cursor:pointer;"><img id="search" src="img/search.png" />Type anywhere to search</a></li>
            <li><a style="cursor:pointer" ng-click="toggleSideMenu()"><span class="item-number">{{itemsInBag}}</span><img id="shopping-bag" src="img/shopping-bag.png"  />Shopping bag</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</div>
<div class="searchOverlay" ng-show="showBoom">
    <div class="row">
        <div class="col-md-12">
            <p class="search-label">
                Search anything and hit enter
            </p>
            <input ng-model="searchInput" class="search-input" placeholder="Search"/>
            <p class="search-close" ng-click="close()">
                <img id="search-close" src="img/close.png"/>Close search
            </p>
        </div>
    </div>
    <!-- XS VIEW -->
    <div ng-controller="premierController">
        <div class="row hidden-md hidden-lg" ng-repeat="(findex, chunk) in smallest" style="margin-bottom: 50px;">
            <ul style="list-style: none; padding:0;" class="row">
                <li class="col-sm-12 col-xs-12" ng-repeat="item in chunk | filter:searchInput">
                    <a scroll-to-bookmark="info" ng-click="validateClick(item._id);changeShow(findex)">
                        <div class="product-overlay" ng-show="overlay">
                            <p class="overlay-text-product">View item</p>
                        </div>
                        <div style="background-image:url({{item.picture[0]}})" class="product-image-holder"></div>
                    </a>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12" style="text-align:center;">
                            <span class="item-name">{{item.name}}</span>
                        </div>
                        <div class="col-sm-12 col-xs-12" style="text-align:center;">
                            <span class="item-price">{{item.price}}€</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="row mobileToode" ng-show="num == findex">
                <div class="col-sm-12">
                    <div class="image-holder--info" style="background-image:url('{{mainUrl}}');">
                        <div class="close--information">
                            <img id="product-close" src="img/white-close.png" ng-click="closeModal()"/>
                        </div>
                        <div class="arrowLeft">
                            <img id="arrowLeft-mobile" src="img/arrowLeft.png" ng-click="moveBack(mainUrl)"/>
                        </div>
                        <div class="arrowRight" ng-click="moveForward(mainUrl)">
                            <img id="arrowRight-mobile" src="img/arrowLeft.png"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="information--info">
                        <div class="row">
                            <p class="information--title">
                                {{title}}
                            </p>
                        </div>
                        <div class="row">
                            <p class="information--price">
                                <b style="font-familt:Hel-Bold;font-size:32px">{{price}}€</b> per unit<br />
                            </p>
                        </div>
                        <div class="row information-text-height">
                            <p class="information--text" ng-bind-html="info">
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-md-6 counter-row" style="padding:0">
                                <div ng-if="quant === 0" class="col-md-6">
                                    <b  style="font-family:Hel-Bold;">Out of stock</b>
                                </div>
                                <div ng-if="quant > 0" class="col-md-6">
                                    <a class="divide-btn noselect" ng-click="counterDivide()">-</a><input type="number" ng-focus="focus()" ng-blur="blur()" ng-change="calc()" ng-model="counter.value" class="information--quant noselect" min="0"/><a class="add-btn noselect" ng-click="counterAdd()">+</a>
                                    <br>
                                    <span ng-if="minOrderQuant">Min {{minOrderQuant}} order quantity</span>
                                </div>
                                <div class="col-md-6 price-row">
                                    Total price: <p ng-model="counter.price">
                                        <span class="item-price">{{sumprice}}€</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ask-more-row" >
                                <button ng-if="quant > 0" class="ask-more-btn" ng-click="askForMore(title)">SEND INQUIRY</button>
                                <button ng-if="quant == 0" class="ask-more-btn" ng-click="showRequest(title)">NOTIFY WHEN IN STOCK</button>
                            </div>
                            <div class="col-md-6 add-cart-row">
                                <button class="add-to-cart-btn" ng-click="testRootScope()">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="request-overlay" ng-show="requestOverlay">
                <div class="request-container">
                    <p class="request-close" ng-click="closeRequest()">
                        Close
                    </p>
                    <p class="request-text">
                        Add your email to be notified when the item is back in stock
                    </p>
                    <label class="request-email-label">Email *</label>
                    <input ng-model="$root.requestEmailSmall" type="text" class="request-form-control-add" />
                    <button class="request-button" ng-click="sendRequestSmall()">SUBMIT</button>
                </div>
            </div>
            <div class="request-overlay" ng-show="askForMoreOverlay">
                <div class="askformore-container">
                    <p class="request-close" ng-click="closeAskForMore()">
                        Close
                    </p>
                    <label class="askformore-email-label">Name *</label>
                    <input ng-model="$root.askForMoreNameSmall" type="text" class="askformore-form-control-add" />
                    <label class="askformore-email-label-email">Email *</label>
                    <input ng-model="$root.askForMoreEmailSmall" type="text" class="askformore-form-control-add-email" />
                    <label class="askformore-label-question">Question *</label>
                    <textarea class="askformore-form-control-add-question" ng-model="$root.askForMoreQuestionSmall"></textarea>
                    <button class="askformore-button" ng-click="askForMoreSmall()">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
    <!-- LG VIEW -->
    <div ng-controller="premierController" class="container">
        <div class="row hidden-md hidden-sm hidden-xs" ng-repeat="(findex, chunk) in array" style="margin-bottom: 50px;">
            <ul style="list-style: none; padding:0;" class="row">
                <li class="col-md-3" ng-repeat="item in chunk | filter:searchInput">
                    <a scroll-to-bookmark="info" ng-click="validateClick(item._id);changeShow(findex)">
                        <div class="product-overlay" ng-show="overlay">
                            <p class="overlay-text-product">View item</p>
                        </div>
                        <div style="background-image:url({{item.picture[0]}})" class="product-image-holder"></div>
                    </a>
                    <div class="row">
                        <div class="col-md-8">
                            <span class="item-name">{{item.name}}</span>
                        </div>
                        <div class="col-md-4" style="text-align:right;">
                            <span class="item-price">{{item.price}} {{item.currency}}</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="row toode" ng-show="num == findex">
                <div class="image-view" ng-show="imageViewOverlay">
                    <img src="img/white-close.png" id="product-view-img" ng-click="closeImageView()"/>
                    <div class="row">
                        <div class="col-md-12" style="text-align:center; padding-top:100px;">
                            <i class="fa fa-chevron-left" aria-hidden="true" id="big-arrow-left" ng-click="bigBack(picViewUrl)"></i>

                            <img src="{{picViewUrl}}" style="border: 20px solid white; max-width: 100%; max-height: calc(100vh - 200px); width: auto;"/>
                            <i class="fa fa-chevron-right" aria-hidden="true" id="big-arrow-right" ng-click="bigForward()"></i>
                        </div>
                    </div>
                    <!--<div class="image-holder-big">
                        <div class="image" style="background-image: url({{mainUrl}})">

                        </div>
                    </div>-->
                </div>
                <div class="col-md-6" style="margin-top:30px;">
                    <div class="image-holder--info" style="background-image:url('{{mainUrl}}');">
                        <div class="close--information">
                            <div class="open--image" ng-click="openBigImageView(mainUrl)">
                                <i class="fa fa-expand" aria-hidden="true" id="expand-icon"></i>
                            </div>
                            <img id="product-close" src="img/white-close.png" ng-click="closeModal()"/>
                        </div>
                        <div class="arrowLeft" ng-mouseenter="showArrowLeft()" ng-mouseleave="hideArrowLeft()">
                            <img id="arrowLeft" src="img/arrowLeft.png" ng-show="arrowLeftShow" ng-click="moveBack(mainUrl)"/>
                        </div>
                        <div class="arrowRight" ng-mouseenter="showArrowRight()" ng-mouseleave="hideArrowRight()" >
                            <img id="arrowRight" src="img/arrowLeft.png" ng-show="arrowRightShow" ng-click="moveForward(mainUrl)"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="margin-top:30px;">
                    <div class="information--info">
                        <div class="row">
                            <p class="information--title">
                                {{title}}
                            </p>
                        </div>
                        <div class="row">
                            <p class="information--price">
                                <b style="font-familt:Hel-Bold;font-size:32px">{{price}} {{currency}}</b> per unit<br>
                                <span ng-if="minOrderQuant">MOQ: {{minOrderQuant}}</span>
                            </p>
                        </div>
                        <div class="row">
                            <p class="information--text" style="font-size:14px;" ng-bind-html="info">
                            </p>
                        </div>
                        <div class="row" ng-if="!isNaN(quant)">
                            <p class="information--text">In stock: {{quant}}</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding:0">
                                <div ng-if="quant === 0" class="col-md-6">
                                    <b  style="font-family:Hel-Bold;">Out of stock</b>
                                </div>
                                <div ng-if="quant > 0 || isNaN(quant)" class="col-md-6">
                                        <a class="divide-btn noselect" ng-click="counterDivide()">-</a><input type="number" ng-focus="focus()" ng-blur="blur()" ng-change="calc()" ng-model="counter.value" class="information--quant noselect" min="0"/><a class="add-btn noselect" ng-click="counterAdd()">+</a>
                                </div>
                                <div class="col-md-6">
                                    Total price: <p ng-model="counter.price">
                                        <span class="item-price">{{sumprice}}€</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="text-align:left;">
                                <button class="ask-more-btn" ng-click="showRequest()">SEND INQUIRY</button>
                            </div>
                            <div class="col-md-6">
                                <button class="add-to-cart-btn" ng-click="testRootScope()">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="request-overlay" ng-show="requestOverlay">
                <div class="request-container">
                    <p class="request-close" ng-click="closeRequest()">
                        Close
                    </p>
                    <p class="request-text">
                        Add your email to be notified when the item is back in stock
                    </p>
                    <label class="request-email-label">Email *</label>
                    <input type="text" class="request-form-control-add" />
                    <button class="request-button">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gradient--banner">
</div>

<div class="sideMenu" ng-controller="sideMenuCtrl" ng-show="sidemenu" ng-keyup="keyup($event)">
    <div key-press="test" class="col-md-12">
        <div class="row">
            <div>
                <button class="sidebar-empty-btn" ng-click="emptyBag()">EMPTY BAG</button>
            </div>
            <div class="sidebar-close">
                <a ng-click="hide()"><img id="sidemenu-close" src="img/close.png"/>Close</a>
            </div>

        </div>
        <div class="row">
            <ul class="sidemenu-list">
                <li ng-repeat="item in products">
                    <div class="sidemenu-img-holder hidden-xs hidden-sm" style="background-image:url({{item.pic[0]}})"></div>
                    <div class="sidemenu-text-holder">
                        <p class="sidemenu-product-text noselect">
                            {{item.name}}
                        </p>
                        <p class="sidemenu-quantity noselect">
                            Quantity: <a class="sidemenu-quant minus noselect" ng-click="divide(item.name)">-</a><span class="noselect">{{item.quant}}</span><a class="sidemenu-quant plus noselect"  ng-click="add(item.name)">+</a>
                        </p>
                    </div>
                    <div style="float:left; width:50px;height:50px;">
                        <p class="sidemenu-price-item">
                            {{item.sum}} {{item.currency}}
                        </p>
                    </div>
                    <div class="deleteBtn" ng-click="deleteProduct(item.name)"><img id="delete-product-btn" src="img/white-close.png"/></div>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <p class="sidemenu-text">
                    <span class="terms-text-sidemenu">Total price for product(s) only. Taxes and shipping costs will be calculated for you. No commitment follows after placing an order.</span>
                    <!--Excluding shipping & Shipping-->
                </p>
            </div>

        </div>
        <div class="row hidden-md hidden-sm hidden-lg">
            <div class="col-xs-12" style="text-align:center;">
                <button class="sidebar-continue-btn" ng-click="hide()">CONTINUE SHOPPING</button>
            </div>
            <div class="col-xs-12" style="text-align:center;">
                <button class="sidebar-checkout-btn" ui-sref="billing">CHECKOUT</button>
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-md-6">
                <button class="sidebar-continue-btn" ng-click="hide()">CONTINUE SHOPPING</button>
            </div>
            <div class="col-md-6">
                <button class="sidebar-checkout-btn" ui-sref="billing">CHECKOUT</button>
            </div>
        </div>
    </div>
</div>
<div class="sideMenuOverlay" ng-show="sidemenuOverlay" ng-controller="sideMenuOverlayCtrl" ng-click="hideOverlay()">
</div>

<div class="container">
    <div class="row product-row" scroll-bookmark="products">
        <div class="col-md-12">
            <h3 style="z-index: 1;" class="products-title">PRODUCTS</h3>
        </div>
    </div>

    <!-- MD view -->
    <div ng-controller="premierController">
        <div class="row hidden-lg hidden-sm hidden-xs" ng-repeat="(findex, chunk) in arrayLittle" style="margin-bottom: 50px;">
            <ul style="list-style: none; padding:0;" class="row">
                <li class="col-md-6" ng-repeat="item in chunk">
                    <a ng-click="validateClick(item._id);changeShow(findex)" ng-mouseover="hoverIn()" ng-mouseleave="hoverLeave()">
                        <div class="product-overlay" ng-show="overlay">
                            <p class="overlay-text-product">View item</p>
                        </div>
                        <div style="background-image:url({{item.picture[0]}})" class="product-image-holder"></div>
                    </a>
                    <div class="row">
                        <div class="col-md-8">
                            <span class="item-name">{{item.name}}</span>
                        </div>
                        <div class="col-md-4" style="text-align:right;">
                            <span class="item-price">{{item.price}}{{item.currency}}</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="row toode" ng-show="num == findex">
                <div class="col-md-6" style="margin-top:50px;">
                    <div class="image-holder--info" style="background-image:url('{{mainUrl}}');">
                        <div class="close--information">
                            <img id="product-close" src="img/white-close.png" ng-click="closeModal()"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="margin-top:50px;">
                    <div class="information--info">
                        <div class="row">
                            <p class="information--title">
                                {{title}}
                            </p>
                        </div>
                        <div class="row">
                            <p class="information--price">
                                <b style="font-familt:Hel-Bold;font-size:32px">{{price}}{{currency}}</b> per unit<br>
                                <span ng-if="minOrderQuant">MOQ: {{minOrderQuant}}</span>
                            </p>
                        </div>
                        <div class="row information--text-row">
                            <p class="information--text" ng-bind-html="info">
                            </p>
                        </div>

                        <div class="row" ng-if="!isNaN(quant)">
                            <p class="information--text">In stock: {{quant}}</p>
                        </div>
                        <div class="row divider-product">
                            <div class="col-md-6 divider-length" style="padding:0">
                                <div ng-if="quant === 0" class="col-md-6">
                                    <b  style="font-family:Hel-Bold;">Out of stock</b>
                                </div>
                                <div ng-if="quant > 0 || isNaN(quant)" class="col-md-6">
                                    <a class="divide-btn noselect" ng-click="counterDivide()">-</a><input type="number" ng-focus="focus()" ng-blur="blur()" ng-change="calc()" ng-model="counter.value" class="information--quant noselect" min="0"/><a class="add-btn noselect" ng-click="counterAdd()">+</a>
                                </div>
                                <div class="col-md-6">
                                    Total price: <p ng-model="counter.price">
                                        <span class="item-price">{{sumprice}}{{currency}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                        <div class="row buttons-product">
                            <div class="col-md-6" style="text-align:left;">
                                <button class="ask-more-btn" ng-click="showRequest(title)">SEND INQUIRY</button>
                            </div>
                            <div class="col-md-6">
                                <button class="add-to-cart-btn" ng-click="testRootScope()">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="request-overlay" ng-show="requestOverlay">
                <div class="request-container">
                    <p class="request-close" ng-click="closeRequest()">
                        Close
                    </p>
                    <p class="request-text">
                        Add your email to be notified when the item is back in stock
                    </p>
                    <label class="request-email-label">Email *</label>
                    <input ng-model="$root.requestEmailBig" type="text" class="request-form-control-add" />
                    <button class="request-button" ng-click="sendRequestBig()">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>

    <!-- LG view -->
    <div ng-controller="premierController">
        <div class="row hidden-md hidden-sm hidden-xs" ng-repeat="(findex, chunk) in array" style="margin-bottom: 50px;">
            <ul style="list-style: none; padding:0;" class="row">
                <li class="col-md-3" ng-repeat="item in chunk">
                    <a scroll-to-bookmark="info" ng-click="validateClick(item._id);changeShow(findex)" ng-mouseover="hoverIn()" ng-mouseleave="hoverLeave()">
                        <div class="product-overlay" ng-show="overlay">
                            <p class="overlay-text-product">View item</p>
                        </div>
                        <div style="background-image:url({{item.picture[0]}});     background-size: 100%;
    background-repeat: no-repeat;" class="product-image-holder">
                        </div>
                    </a>
                    <div class="row">
                        <div class="col-md-8">
                            <span class="item-name">{{item.name}}</span>
                        </div>
                        <div class="col-md-4" style="text-align:right;">
                            <span class="item-price">{{item.price}} {{item.currency}}</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="row toode" ng-show="num == findex">
                <div class="image-view" ng-show="imageViewOverlay">
                    <img src="img/white-close.png" id="product-view-img" ng-click="closeImageView()"/>

                    <div class="row">
                        <div class="col-md-12" style="text-align:center; padding-top:60px;">
                            <i class="fa fa-chevron-left" aria-hidden="true" id="big-arrow-left" ng-click="bigBack(picViewUrl)"></i>

                            <img src="{{picViewUrl}}" style="border: 20px solid white; max-width: 100%; max-height: calc(100vh - 200px); width: auto;" />
                            <i class="fa fa-chevron-right" aria-hidden="true" id="big-arrow-right" ng-click="bigForward()"></i>
                        </div>
                    </div>
                    <!--<div class="image-holder-big">
                        <div class="image" style="background-image: url({{mainUrl}})">

                        </div>
                    </div>-->
                </div>
                <div class="col-md-6" style="margin-top:50px;">
                    <div class="image-holder--info" style="background-image:url('{{mainUrl}}');     background-size: 100%;
    background-repeat: no-repeat; background-position: center;">
                        <div class="close--information">
                            <div class="open--image" ng-click="openBigImageView(mainUrl)">
                                <i class="fa fa-expand" aria-hidden="true" id="expand-icon"></i>
                            </div>
                            <img id="product-close" src="img/white-close.png" ng-click="closeModal()"/>
                        </div>
                        <div class="arrowLeft" ng-mouseenter="showArrowLeft()" ng-mouseleave="hideArrowLeft()">
                            <img id="arrowLeft" src="img/arrowLeft.png" ng-show="arrowLeftShow" ng-click="moveBack(mainUrl)"/>
                        </div>
                        <div class="arrowRight" ng-mouseenter="showArrowRight()" ng-mouseleave="hideArrowRight()" >
                            <img id="arrowRight" src="img/arrowLeft.png" ng-show="arrowRightShow" ng-click="moveForward(mainUrl)"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="margin-top:50px;">
                    <div class="information--info">
                        <div class="row">
                            <p class="information--title">
                                {{title}}
                            </p>
                        </div>
                        <div class="row">
                            <p class="information--price" style="margin-top:20px;">
                            <b style="font-family:Hel-Bold;font-size:32px">{{price}} {{currency}}</b> Price per {{priceMethod}}<br>
                            <span ng-if="minOrderQuant">MOQ: {{minOrderQuant}}</span>
                            </p>
                        </div>
                        <div class="row" style="min-height:50px;">
                            <p class="information--text" style="font-size:14px;" ng-bind-html="info"></p>
                        </div>
                        <div class="row" ng-if="!isNaN(quant)">
                            <p class="information--text">In stock: {{quant}}</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding:0">
                                <div ng-if="quant === 0" class="col-md-6">
                                    <b  style="font-family:Hel-Bold;">Out of stock</b>
                                </div>
                                <div ng-if="quant > 0 || isNaN(quant)" class="col-md-6">
                                        <a  class="divide-btn noselect" ng-click="counterDivide()">-</a><input type="number" ng-focus="focus()" ng-blur="blur()" ng-change="calc()" ng-model="counter.value" class="information--quant noselect" min="0" max="{{quant}}"/><a class="add-btn noselect" ng-click="counterAdd()">+</a>
                                </div>
                                <div class="col-md-6">
                                    Total price: <p ng-model="counter.price">
                                        <span class="item-price">{{sumprice}}  {{currency}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="text-align:left;">
                                <button ng-if="quant > 0 || isNaN(quant)" class="ask-more-btn" ng-click="askForMore()">SEND INQUIRY</button>
                                <button ng-if="quant == 0" class="ask-more-btn" ng-click="showRequest(title)">NOTIFY WHEN IN STOCK</button>
                            </div>
                            <div class="col-md-6">
                                <button ng-if="quant > 0 || isNaN(quant)" class="add-to-cart-btn" ng-click="testRootScope()">ADD TO CART</button>
                            </div>
                        </div>
                    </ div>
                </div>
            </div>
            <div class="request-overlay" ng-show="requestOverlay">
                <div class="request-container">
                    <p class="request-close" ng-click="closeRequest()">
                        Close
                    </p>
                    <p class="request-text">
                        Add your email to be notified when the item is back in stock
                    </p>
                    <label class="request-email-label">Email *</label>
                    <input ng-model="$root.requestEmailMedium" type="text" class="request-form-control-add" />
                    <button class="request-button" ng-click="sendRequestMedium()">SUBMIT</button>
                </div>
            </div>
            <div class="request-overlay" ng-show="askForMoreOverlay">
                <div class="askformore-container">
                    <p class="request-close" ng-click="closeAskForMore()">
                        Close
                    </p>
                    <label class="askformore-email-label">Name *</label>
                    <input ng-model="$root.askForMoreNameMedium" type="text" class="askformore-form-control-add" />
                    <label class="askformore-email-label-email">Email *</label>
                    <input ng-model="$root.askForMoreEmailMedium" type="text" class="askformore-form-control-add-email" />
                    <label class="askformore-label-question">Question *</label>
                    <textarea class="askformore-form-control-add-question" ng-model="$root.askForMoreQuestionMedium"></textarea>
                    <button class="askformore-button" ng-click="askForMoreMedium()">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>

    <!-- SM view -->
    <div ng-controller="premierController">
        <div class="row hidden-md hidden-lg" ng-repeat="(findex, chunk) in smallest" style="margin-bottom: 50px;">
            <ul style="list-style: none; padding:0;" class="row">
                <li class="col-sm-12 col-xs-12" ng-repeat="item in chunk">
                    <a scroll-to-bookmark="info" ng-click="validateClick(item._id);changeShow(findex)">
                        <div class="product-overlay" ng-show="overlay">
                            <p class="overlay-text-product">View item</p>
                        </div>
                        <div style="background-image:url({{item.picture[0]}})" class="product-image-holder"></div>
                    </a>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12" style="text-align:center;">
                            <span class="item-name">{{item.name}}</span>
                        </div>
                        <div class="col-sm-12 col-xs-12" style="text-align:center;">
                            <span class="item-price">{{item.price}}{{item.currency}}</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="row mobileToode" ng-show="num == findex">
                <div class="col-sm-12" style="margin-top:50px;">
                    <div class="image-holder--info" style="background-image:url('{{mainUrl}}');">
                        <div class="close--information">
                            <img id="product-close" src="img/white-close.png" ng-click="closeModal()"/>
                        </div>
                        <div class="arrowLeft">
                            <img id="arrowLeft-mobile" src="img/arrowLeft.png" ng-click="moveBack(mainUrl)"/>
                        </div>
                        <div class="arrowRight" ng-click="moveForward(mainUrl)">
                            <img id="arrowRight-mobile" src="img/arrowLeft.png"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" style="margin-top:50px;">
                    <div class="information--info">
                        <div class="row">
                            <p class="information--title">
                                {{title}}
                            </p>
                        </div>
                        <div class="row">
                            <p class="information--price">
                                <b style="font-familt:Hel-Bold;font-size:32px">{{price}}{{currency}}</b> per unit<br />
                            </p>
                        </div>
                        <div class="row information-text-height">
                            <p class="information--text" ng-bind-html="info">
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-md-6 counter-row" style="padding:0">
                                <div ng-if="quant === 0" class="col-md-6">
                                    <b  style="font-family:Hel-Bold;">Out of stock</b>
                                </div>
                                <div ng-if="quant > 0" class="col-md-6">
                                        <a class="divide-btn noselect" ng-click="counterDivide()">-</a><input type="number" ng-focus="focus()" ng-blur="blur()" ng-change="calc()" ng-model="counter.value" class="information--quant noselect" min="0"/><a class="add-btn noselect" ng-click="counterAdd()">+</a>
                                </div>
                                <div class="col-md-6 price-row">
                                    Total price: <p ng-model="counter.price">
                                        <span class="item-price">{{sumprice}}{{currency}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ask-more-row" >
                                <button ng-if="quant > 0" class="ask-more-btn" ng-click="askForMore(title)">SEND INQUIRY</button>
                                <button ng-if="quant == 0" class="ask-more-btn" ng-click="showRequest(title)">NOTIFY WHEN IN STOCK</button>
                            </div>
                            <div class="col-md-6 add-cart-row">
                                <button class="add-to-cart-btn" ng-click="testRootScope()">ADD TO CART</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="request-overlay" ng-show="requestOverlay">
                <div class="request-container">
                    <p class="request-close" ng-click="closeRequest()">
                        Close
                    </p>
                    <p class="request-text">
                        Add your email to be notified when the item is back in stock
                    </p>
                    <label class="request-email-label">Email *</label>
                    <input ng-model="$root.requestEmailSmall" type="text" class="request-form-control-add" />
                    <button class="request-button" ng-click="sendRequestSmall()">SUBMIT</button>
                </div>
            </div>
            <div class="request-overlay" ng-show="askForMoreOverlay">
                <div class="askformore-container">
                    <p class="request-close" ng-click="closeAskForMore()">
                        Close
                    </p>
                    <label class="askformore-email-label">Name *</label>
                    <input ng-model="$root.askForMoreNameSmall" type="text" class="askformore-form-control-add" />
                    <label class="askformore-email-label-email">Email *</label>
                    <input ng-model="$root.askForMoreEmailSmall" type="text" class="askformore-form-control-add-email" />
                    <label class="askformore-label-question">Question *</label>
                    <textarea class="askformore-form-control-add-question" ng-model="$root.askForMoreQuestionSmall"></textarea>
                    <button class="askformore-button" ng-click="askForMoreSmall()">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" ng-controller="mapCtrl" ng-init="initMap()" scroll-bookmark="contact">
            <div class="map-name">
                <h3>
                    CONTACTS
                </h3>
            </div>
            <div id="map" style="height: 400px;">
            </div>
            <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
</div>
<div class="container" ng-controller="landingContactCtrl" style="margin-top:50px;">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label class="add-product-label landing-margin">Name</label>
                <input ng-focus="focused('name')" ng-blur="blur('name')" type="text" class="form-control-add landing-margin" name="name" ng-model="sendEmailForm.name"/>
            </div>
            <div class="form-group">
                <label class="add-product-label landing-margin">E-mail</label>
                <textarea ng-focus="focused('email')" ng-blur="blur('email')" class="form-control-add landing-margin" name="information" ng-model="sendEmailForm.email" />
            </div>
            <div class="form-group">
                <label class="add-product-label landing-margin">Subject</label>
                <textarea ng-focus="focused('subject')" ng-blur="blur('subject')" class="form-control-add landing-margin" name="information" ng-model="sendEmailForm.subject" />
            </div>
            <div class="form-group">
                <label class="add-product-label landing-margin">Message</label>
                <textarea ng-focus="focused('message')" ng-blur="blur('message')" class="form-control-add-long-landing landing-margin" name="information" ng-model="sendEmailForm.message" />
            </div>
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6" style="text-align: right;margin-left: -15px;">
                    <button class="send-button" ng-click="sendEmail()">SEND</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div ng-bind-html="info" style="margin-top:5px;">

        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="col-md-6">
            <img id="logo-footer" src="img/logo.png" />
        </div>
        <div class="col-md-6" style="text-align: right;">
            <p class="footer-company" ng-bind-html="footer">
            </p>
        </div>
    </div>
</footer>
